.schedule {
    height: 78%;
}

.scheduleInfo {
    width: 100%;
    height: 12%;
}

.mainSchedule {
    width: 100%;
    height: 100%;
    padding: 0% 6%;
}

.editButton {
    width: 100%;
    height: 10%;
    text-align: center;
}

.menuItemDay {
    margin-right: 10px;
}

.schedule-line {
    background-color: #BABABA;
    width: 3px;
    margin-left: 30.26px;
    z-index: 1;
}

.schedule-white {
    position: absolute;
    width: 80%;
    height: 26px;
    background-color: white;
    z-index: 10;
    left:10%;
}

.addAttractionInSchedule {
    height: 4.3vw;
}

.schedule-white#top {
    top: 17.3vh;
}

.schedule-white#bottom {
    top: 78.5vh;
}