#header {
  height: 80px;
  background-color: #C4E0A5;
}

#logo {
  top: 0;
  width: 450px;
  height: 80px;
  cursor: pointer;
}

.headerButton {
  font-size: 1.8rem;
  text-align: center;
}

.headerButtonText {
  font-weight: 600;
  color: #404040;
}

.dropdownItem {
  text-align: center;
}

.dropdownItemText {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  color: #404040;
}

.userButton {
  width: 5%;
  height: 8vh;
  float: right;
}
